<h1>Edit <%=@offering.course.name%> <%=@offering.letter%></h1>
<h3><%=Offering.decode_schedule(@offering.schedule)%></h3>
<%= form_for [:admin, @offering] do |f| %>
  <%i=0%>
  <div id="timeforms">
    <%(@offering.course.credits/2).times do%>
      <p>Day<select id=<%="day#{i}"%>><option value='a'>Monday</option><option value='b'>Tuesday</option><option value='c'>Wednesday</option><option value='d'>Thursday</option><option value='e'>Friday</option></select></p>

      <p>Time<select id=<%="time#{i}"%>><option value='1'>8-10</option><option value='2'>10-12</option><option value='3'>12-14</option><option value='4'>14-16</option><option value='5'>16-18</option><option value='6'>18-20</option><option value='7'>19-21</option><option value='8'>21-23</option></select></p>
      <%i+=1%>
    <%end%>
  </div>
  <div class="field" style="display: none">
    <%= f.label :schedule %><br>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :professor_id %><br>
    <%= f.select :professor_id, options_for_select(Professor.pluck(:name, :id).push(["To be assigned",nil])), :prompt => "Please select" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
