
<%= form_for @professor,url: professor_path do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmatioin %><br>
    <%= f.password_field :password_confirmatioin %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["active","active"],["partial","partial"],["license","license"]],@professor.status) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
