<h2>List of Preferences</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Major</th>
      <th>Second Major</th>
      <th>Third Major</th>
      <th>First Service</th>
      <th>Second Service</th>
      <th>Third Service</th>
      <th>First Project</th>
      <th>Second Project</th>
      <th>Third Project</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @preferences.each do |preference| %>
    <tr>
        <td><%= Course.find(Offering.find(preference.first_major).course_id).name%> <em><%=Offering.find(preference.first_major).letter%></em></td>
        <td><%= Course.find(Offering.find(preference.second_major).course_id).name %> <em><%=Offering.find(preference.second_major).letter%></em></td>
        <td><%= Course.find(Offering.find(preference.third_major).course_id).name %> <em><%=Offering.find(preference.third_major).letter%></em></td>
        <td><%= Course.find(Offering.find(preference.first_service).course_id).name %> <em><%=Offering.find(preference.first_service).letter%></em></td>
        <td><%= Course.find(Offering.find(preference.second_service).course_id).name %> <em><%=Offering.find(preference.second_service).letter%></em></td>
        <td><%= Course.find(Offering.find(preference.third_service).course_id).name %> <em><%=Offering.find(preference.third_service).letter%></em></td>
        <td><%= preference.ttc_proposal_1 %></td>
        <td><%= preference.ttc_proposal_2 %></td>
        <td><%= preference.ttc_proposal_3 %></td>
        <td><%= preference.semester %></td>

        <td><%= link_to 'Edit', edit_professor_preference_path(preference) %></td>
        <td><%= link_to 'Destroy', professor_preference_path(preference), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="bg-success" id="onePreference"><h4><strong>You can only submit one preference each semester.</strong></h4></div>
<% if @addable %>
  <%= link_to 'New Preference', new_professor_preference_path,class: 'btn btn-primary' %>
<% end %>


