<% if @preference.errors.any? %>
  <div class="alert alert-danger">
    <div>
      <%= pluralize(@preference.errors.count, "error") %> prevented this preference from being submitted:
        <ul>
          <% @preference.errors.full_messages.each do |msg|%>
          <li> <%= msg %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>

<h1 style="display: inline">Offering List
</h1>
<h2 style="display: inline">current semester: <%= current_semester%></h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>letter</th>
      <th>schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if !@offerings.empty? %>
  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.course.name %></td>
        <td><%= offering.letter %></td>
        <td><%= Offering.decode_schedule(offering.schedule) %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>


<div class="panel-default well">
  <div class="panel-heading">
    <h2 class='panel-title'>Based on the above offering list, please choose your preferences: </h2>
</div>
  <div class="panel-body">
    <%= form_for [:professor, @preference], url: {action: "create"}, :html => {class: 'form-horizontal'} do |f| %>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <%= f.label 'First Major', class: 'col-sm-3' %>
            <%= f.select :first_major, options_for_select(@offering_major_selector),class: 'col-sm-9' %>
          </div>
          <div class='form-group'>
            <%= f.label 'Second Major',class: 'col-sm-3' %>
            <%= f.select :second_major, options_for_select(@offering_major_selector),class: 'col-sm-9' %>
          </div>
          <div class='form-group'>
            <%= f.label 'Third Major', class: 'col-sm-3' %>
            <%= f.select :third_major, options_for_select(@offering_major_selector),class: 'col-sm-9' %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <%= f.label 'First Service', class: 'col-sm-3' %>
            <%= f.select :first_service, options_for_select(@offering_service_selector),class: 'col-sm-9' %>
          </div>
          <div class='form-group'>
            <%= f.label 'Second Service', class: 'col-sm-3' %>
            <%= f.select :second_service, options_for_select(@offering_service_selector),class: 'col-sm-9'  %>
          </div>
          <div class='form-group'>
            <%= f.label 'Third Service', class: 'col-sm-3' %>
            <%= f.select :third_service, options_for_select(@offering_service_selector),class: 'col-sm-9'  %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <%= f.label 'Proposal Project 1',class: 'col-sm-4'  %>
            <%= f.text_field :ttc_proposal_1%>
          </div>
          <div class='form-group'>
            <%= f.label 'Proposal Project 2',class: 'col-sm-4'  %>
            <%= f.text_field :ttc_proposal_2 %>
          </div>
          <div class='form-group'>
            <%= f.label 'Proposal Project 3',class: 'col-sm-4'  %>
            <%= f.text_field :ttc_proposal_3 %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <%= f.label 'Comment',class: 'col-sm-3' %>
            <%= f.text_area :comments, class: 'col-sm-9', id: 'preferenceComment' %>
          </div>
        </div>
      </div>
        <%= f.submit 'Create', :class => 'col-md-2 btn btn-primary' %>
    <% end %> 
  </div>
</div>

