<h1>Listing Offerings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>letter</th>
      <th>schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.course.name %></td>
        <td><%= offering.letter %></td>
        <td><%= Offering.decode_schedule(offering.schedule) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Based on the above offering list, please choose your preferences: </h2>

<% if @preference.errors.any? %>
  <div>
    <%= pluralize(@preference.errors.count, "error") %> prevented this preference from being submitted:
      <ul>
        <% @preference.errors.full_messages.each do |msg|%>
        <li> <%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for [:professor, @preference], url: {action: "create"} do |f| %>
  <div>
    <%= f.label 'First Major' %>
    <%= f.select :first_major, options_for_select(@offering_major_selector) %>
  </div>
  <div>
    <%= f.label 'Second Major' %>
    <%= f.select :second_major, options_for_select(@offering_major_selector) %>
  </div>
  <div>
    <%= f.label 'Third Major' %>
    <%= f.select :third_major, options_for_select(@offering_major_selector) %>
  </div>
  <div>
    <%= f.label 'First Service' %>
    <%= f.select :first_service, options_for_select(@offering_service_selector)%>
  </div>
  <div>
    <%= f.label 'Second Service' %>
    <%= f.select :second_service, options_for_select(@offering_service_selector) %>
  </div>
  <div>
    <%= f.label 'Third Service' %>
    <%= f.select :third_service, options_for_select(@offering_service_selector) %>
  </div>
  <div>
    <%= f.label 'Final Project 1' %>
    <%= f.text_field :ttc_proposal_1 %>
  </div>
  <div>
    <%= f.label 'Final Project 2' %>
    <%= f.text_field :ttc_proposal_2 %>
  </div>
  <div>
    <%= f.label 'Final Project 3' %>
    <%= f.text_field :ttc_proposal_3 %>
  </div>
    <%= f.label 'Comment' %>
    <%= f.text_field :comments %>
  </div>
  <div>
  <div>
    <%= f.submit "Create" %>
  </div>
<% end %> 