<h1>Professors</h1>
<% @preferences.each do |preference| %>
  <h3><%= preference.professor.name%></h3>
  <p><%=decode_semester(preference.semester)%></p>
  <p>First preference for major: <strong><%= Offering.find(preference.first_major).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.first_major).schedule)%></p>
  <p>Second preference for major: <strong><%=Offering.find(preference.second_major).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.second_major).schedule)%></p>
  <p>Third preference for major: <strong><%=Offering.find(preference.third_major).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.third_major).schedule)%></p>
  <p>First preference for service: <strong><%= Offering.find(preference.first_service).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.first_service).schedule)%></p>
  <p>Second preference for service: <strong><%=Offering.find(preference.second_service).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.second_service).schedule)%></p>
  <p>Third preference for service: <strong><%=Offering.find(preference.third_service).course.name%></strong> <%= Offering.decode_schedule(Offering.find(preference.third_service).schedule)%></p>
<%end%>