<h1>List of All Professors</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.email %></td>
        <td><%= professor.status %></td>
       
        <td><%= link_to 'Preferences', admin_professor_preferences_path(professor) %></td>
        <td><%= link_to 'Edit', edit_admin_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', admin_professor_path(professor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="panel-default well">
  <div class="panel-heading">
    <h2 class="panel-title">Add a new Professor</h2>
  </div>
  <div class="panel-body">
    <%= form_for([:admin, @new_professor], html: {class:'form-inline'}) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "status" %>
        <%= f.select :status, options_for_select([["active","active"],["partial","partial"],["license","license"]]), :prompt => "Please select" %>
      </div>
      <div class="actions form-group">
        <%= f.submit 'Add',:class => 'btn btn-info'  %>
      </div>
    <% end %>
  </div>
</div>