<h1>Admin::Professors#index</h1>
<p>Find me in app/views/admin/professors/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.email %></td>
        <td><%= professor.status %></td>
       
        <td><%= link_to 'Preferences', admin_professor_preferences_path(professor) %></td>
        <td><%= link_to 'Edit', edit_admin_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', admin_professor_path(professor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [:admin, @new_professor] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "status" %><br>
    <%= f.select :status, options_for_select([["active","active"],["partial","partial"],["license","license"]]), :prompt => "Please select" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
