<div class='container'>
  <% if !@preferences.empty? %>
    <h2 class='col-md-offset-4'><%=@preferences.first.professor.name%>'s Preferences</h2>
    <%@preferences.each do |preference|%>
      <div class="panel-info well">
        <div class="panel-heading">
          <h3 class='col-md-offset-5 panel-title'><%=decode_semester(preference.semester)%></h3>
        </div>
        <div class='panel-body'>
          <h5 class='col-md-6'>First preference for major</h5><h5 class='col-md-6'><strong><%= Offering.find(preference.first_major).course.name%></strong></h5>
          <h5 class='col-md-6'>Second preference for major</h5><h5 class='col-md-6'><strong><%=Offering.find(preference.second_major).course.name%></strong></h5>
          <h5 class='col-md-6'>Third preference for major</h5><h5 class='col-md-6'><strong><%=Offering.find(preference.third_major).course.name%></strong></h5>
          <h5 class='col-md-6'>First preference for service </h5><h5 class='col-md-6'><strong><%= Offering.find(preference.first_service).course.name%></strong></h5>
          <h5 class='col-md-6'>Second preference for service </h5><h5 class='col-md-6'><strong><%=Offering.find(preference.second_service).course.name%></strong></h5>
          <h5 class='col-md-6'>Third preference for service </h5><h5 class='col-md-6'><strong><%=Offering.find(preference.third_service).course.name%></strong></h5>
        </div>
      </div>
    <%end%>
  <% else %>
    <h2>You have no preference yet.</h2>
  <% end %>
</div>

