<footer>
  <h4>
    <% if current_professor %>
      <% if current_professor.kind == 'admin' %>
        Signed in as an Admin <%= current_professor.name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
      <% else %>
        Signed in as <%= current_professor.name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
      <% end %>
    <% else %>
      <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_professor_path %>
    <% end %>
  </h4>
</footer>